<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="Yahan bhi ek image hua karti thi" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group pull-right" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe <span class=caret></span>
      </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToCart()" style="cursor: pointer">Add ingredients to cart</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <strong>
    <div class="col-xs-12" style="font-size: 22pt">
        {{recipe.description}}
    </div>
  </strong>
</div>

<div class="row">
    <div class="col-xs-12">
        <em>
            <p>Ingredients</p>
            </em>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>